{% extends 'base.html' %}
{% load staticfiles %}

{% block left_content %}
<div class="l_box f_l">
        {% include  'blog/ad.html' %}

        <!-- banner代码 结束 -->
        <div class="topnews">
            <h2>最新文章</h2>
            {% for item in article_list %}
            <div class="blogs">
                <ul>
                    <h3><a href="/">{{ item.title }}</a></h3>
                    <p>{{ item.content }}</p>
                    <p class="autor"><span class="lm f_l"><a href="/">{{ item.desc }}</a></span><span
                            class="dtime f_l">{{ item.date_publish }}</span><span class="viewnum f_r">浏览（<a
                            href="/">{{ item.click_count }}</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% include 'blog/pagination.html' %}
    </div>

{% endblock %}



