{% extends 'base.html' %}

{% block  body %}

    <span>文件上传：&nbsp;&nbsp;&nbsp;</span>
    <span class="input">
      <input type="file" id="upfile" name="upfile" placeholder=""/>
    </span>
    <button onclick="importExp();">点击上传</button>
    <span>格式：.xls</span>


    <script type="text/javascript">

    //导入文件
function importExp() {
    var formData = new FormData();
    var name = $("#upfile").val();
    formData.append("file",$("#upfile")[0].files[0]);
    formData.append("name",name);
    $.ajax({
        url : '/upload/exceluserid/',
        type : 'POST',
        async : false,
        data : formData,
        // 告诉jQuery不要去处理发送的数据
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        beforeSend:function(){
            console.log("正在进行，请稍候");
        },
        success : function(responseStr) {
{% comment %}            if(responseStr=="01"){
                alert("导入成功");
            }else{
                alert("导入失败");
            }{% endcomment %}
        }
    });
}



    </script>


















{% endblock body %}