
{% block head %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>游戏后台管理中心</title>
	<style type="text/css">
		.no{color:red;}
		.tips{color:#999999}
		.form-table{}
		.form-table td{height:30px;}

	</style>
	<link rel="stylesheet" type="text/css" href="/static/files/js/jquery.easyui/themes/gray/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/files/js/jquery.easyui/themes/icon.css">
	<script type="text/javascript" src="/static/files/js/jquery.js?v=201710231602"></script>
	<script type="text/javascript" src="/static/files/js/jquery.easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/files/js/jquery.easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/static/files/js/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="/static/files/js/validator.js"></script>
	<script type="text/javascript" src="/static/files/js/datecheck.js"></script>
    <script type="text/javascript">
        /**
         * 日期转换成时间
         * @param date_str
         * @returns {Date}
         */
        function strToDate(date_str){
            if(date_str.length>0){
                var dateTemp=date_str.split(' ');
                var date_arr_1=dateTemp[0].split('-');
                var date_arr_2=dateTemp[1].split(':');
                return new Date(date_arr_1[0],date_arr_1[1],date_arr_1[2],date_arr_2[0],date_arr_2[1],date_arr_2[2]);
            }
        }
    </script>
</head>
<body>
{% endblock head %}


{% block body %}
{% endblock body %}

{% block foot %}

</body>
</html>
{% endblock foot %}