{% extends 'base.html' %}

{% block body %}
<style type="text/css">
    .no {
        color: red;
    }

    .content {
        border: 1px solid #ddd;
        width: 100%;
        height: 200px;
        background: #fff;
        *position: relative;
        *z-index: 10;
    }

    .tab_clearfix {
        width: 100%;
        height: 30px;
        list-style: none;
        margin-bottom: -1px;
        *position: relative;
        *z-index: 20;
        overflow: hidden;
    }

    .tab_clearfix li {
        float: left;
        height: 28px;
        padding: 0 25px;
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        margin-right: 5px;
        line-height: 30px;
        cursor: pointer;
        background: #FAFAFA;
        color: #0461B1;
        font-size: 14px;
    }

    .tab_clearfix .tab-active {
        border-bottom: none;
        border-top-width: 2px;
        height: 28px;
        background: #fff;
        color: #333333;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="main_nav">
    <div id="top" class="menu_box">
        <div class="top_c" style="">
            hi, 游戏中心欢迎您！ <a href="/?act=index&st=login">请登录</a>
            <div class="clear"></div>
        </div>
    </div>
</div>


<style type="text/css" media="screen">
    td {
        height: 36px
    }

    input {
        height: 24px
    }

    td.filed {
        text-align: right;
    }

    td.f_value {
        text-align: left;
        padding-left: 4px;
    }
</style>
<script type="text/javascript" src="/static/files/js/md5.js"></script>
<script type="text/javascript" src="/static/files/js/base64.js"></script>
<script type="text/javascript">
    if (window != top) // 判断当前的window对象是否是top对象
        top.location.href = window.location.href; // 如果不是，将top对象的网址自动导向被嵌入网页的网址


</script>
<div style="width:100%; height:565px; padding-top: 100px;position:relative; clear: both;">
    <div style="width:400px; height: auto;margin:0 auto">

        <div class="easyui-panel" title="管理员登录" style="width:400px;position:relative;">
            <div style="padding:15px; text-align: center">
                <form id="ff" method="post" action="" method="post">
                    <table>
                        <tr>
                            <td style="width: 70px;" class="filed">用户名:</td>
                            <td class="f_value"><input class="easyui-validatebox" type="text" name="username"
                                                       id="username" data-options="required:true"/>
                                <span class="no">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="filed">密码:</td>
                            <td class="f_value"><input class="easyui-validatebox" type="password" id="password"
                                                       name="password" data-options="required:true"/>
                                <span class="no">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="filed">验证码:</td>
                            <td class="f_value">
                                <input class="easyui-validatebox" type="text" name="captcha" id="captcha"
                                       style="width:58px"/>
                                <input type="hidden" id="captcha_key">
                                <span class="no">*</span>
                                <span>
		    				    <img id="captcha_image" width="90" height="30" src="/user/captcha/"
                                     onclick="changeCode()"
                                     style="cursor: pointer; float: right" alt="点击更换验证码"/>
                            </span>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div style="text-align:center;padding:5px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">登录</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
            </div>
            <input type="hidden" id="id_optcode_status" name="id_optcode_status" value="0">
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/md5.js"></script>
<script type="text/javascript">

    function submitForm() {


        var username = $("#username").val();
        var password = $("#password").val(hex_md5($("#password").val()));
        var captcha = $("#captcha").val();
        var captcha_key = $("#captcha_key").val();
        $.ajax({
            'url': '/user/login/',
            'type': 'post',
            'data': {username: username, password: password, captcha: captcha, captcha_key: captcha_key},
            'dataType': 'json',
            'success': function (data) {

            }

        });
    }

    /**
     *刷新验证码
     */
    function changeCode() {
        var random = Math.random();
        $("#captcha_code").attr('src', '/user/captcha/?&t=' + random);
        $("#captcha_key").val(random);
    }


    // $(function () {
    //     $captcha_url = $("#captcha_timestamp").attr('src');
    //     random_param = GetQueryString($captcha_url, 'random');
    //     $("#captcha_key").val(random_param);
    // });
    //
    // /*js获取url参数*/
    // function GetQueryString(url, name)      //如果是当前网址,url = window.location.search
    // {
    //     var reg = new RegExp("(^|&|/?)" + name + "=([^&]*)(&|$)");
    //     var r = url.substr(1).match(reg);
    //     if (r != null) return unescape(r[2]);
    //     return null;
    // }


</script>
{% endblock body %}

{% block foot %}
<div style="clear: both;zoom: 1;" class="footer">
    <div class="footer_c">
        <div class="footer_r">
            <p>移动平安网: <a href="http://wap.pingan.com">wap.pingan.com</a> /
                <a href="http://m.pingan.com">m.pingan.com</a> /
                <a href="http://pingan.cn">pingan.cn</a></p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备13001452号</a></p>
        </div>
        <p>版权所有 &copy; 中国平安保险（集团）股份有限公司 未经许可不得复制、转载或摘编，违者必究!</p>

        <p style="font-size:10px;">Copyright &copy; PING AN INSURANCE (GROUP) COMPANY OF CHINA ,LTD. All Rights
            Reserved</p>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
{% endblock foot %}
