{% extends 'base.html' %}


{% block body %}
    <style type="text/css">
        /*rownumbers:序号如果是大于等于4位数时,会显示不全*/
        .datagrid-header-rownumber, .datagrid-cell-rownumber {
            width: 40px;
        }
    </style>



    <script type="text/javascript">
        //新增

        // 更新(编辑)


        // 删除


        //取消选择
        function cancel() {
            $('#dg').datagrid('unselectAll');
        }

        //刷新
        function reflesh() {
            $('#dg').datagrid('reload');
            $('#parent_id').combotree('reload');
        }

        //打开编辑框


    </script>
    <table id="dg" class="easyui-datagrid" title="深交所上市高管股权变动表" style="width:auto;height:auto" data-options="fitColumns:false,rownumbers:true,singleSelect:true,
idField:'id',collapsible:false,url:'/stock/szchangelist/',method:'post',
toolbar:'#toolbar',pagination:true,pageSize:10,pageList:[10,20,30]">
        <thead>
        <tr>
            <th data-options="field:'id',hidden:true">ID</th>
            <th data-options="field:'stock_code'">证券代码</th>
            <th data-options="field:'stock_name'">证券简称</th>
            <th data-options="field:'senior_name'">高管姓名</th>
            <th data-options="field:'change_date'">变动日期</th>
            <th data-options="field:'change_amount'">变动数量(万股)</th>
            <th data-options="field:'price'">成交均价</th>
            <th data-options="field:'reason'">变动原因</th>
            <th data-options="field:'change_rate'">变动比率(千分之一)</th>
            <th data-options="field:'day_stock_amount'">当日结存股数(万股)</th>
            <th data-options="field:'change_name'">股份变动人姓名</th>
            <th data-options="field:'duty'">职务</th>
            <th data-options="field:'relationship'">关系</th>
        </tr>
        </thead>
    </table>

    <div id="toolbar">
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" onclick="cancel();"
               plain="true">取消选择</a><a>|</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="reflesh();"
               plain="true">刷新页面</a>

            <div style="padding-top:6px; padding-bottom:6px; padding-left:6px;">
                证券代码:
                <input type="text" id="search_stock_code" name="search_stock_code" value=""/>
                证券名称:
                <input type="text" id="search_stock_name" name="search_stock_name" value=""/>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search"
                   onclick="javascript:searchClick();return false;">查询</a>
            </div>

        </div>

    </div>


    <script type="text/javascript">


        //搜索
        function searchClick() {
            var search_stock_code = $('#search_stock_code').val();
            var search_stock_name = $('#search_stock_name').val();
            $('#dg').datagrid('load', {
                search_stock_name: search_stock_name,
                search_stock_code: search_stock_code
            });


        }


    </script>


{% endblock body %}




