{% extends 'base.html' %}


{% block body %}
    <script type="text/javascript">
        //新增

        // 更新(编辑)


        // 删除


        //取消选择
        function cancel() {
            $('#dg').datagrid('unselectAll');
        }

        //刷新
        function reflesh() {
            $('#dg').datagrid('reload');
            $('#parent_id').combotree('reload');
        }

        //打开编辑框
        function openDialog(title) {
            $('#dlg').dialog(
                {
                    title: title,
                    width: 800,
                    height: 400,
                    left: 100,
                    top: 10,
                    cache: false,
                    modal: true,
                    maximizable: true,
                    collapsible: true,
                    resizable: true
                }
            );
            $('#dlg').dialog('open');
        }



    </script>
    <table id="dg" class="easyui-datagrid" title="用户管理" style="width:auto;height:auto" data-options="fitColumns:false,singleSelect:true,
idField:'id',collapsible:false,url:'/stock/szlist/',method:'post',
toolbar:'#toolbar',pagination:true,pageSize:10,pageList:[10,20,30]">
        <thead>
        <tr>
            <th data-options="checkbox:true"></th>
            <th data-options="field:'id'">ID</th>
            <th data-options="field:'company_code'">公司代码</th>
            <th data-options="field:'name'">公司名称</th>
            <th data-options="field:'A_code'">A股代码</th>
            <th data-options="field:'A_short_name'">A股简称</th>
            <th data-options="field:'stock_date'">上市日期</th>
            <th data-options="field:'general_capital'">总股本</th>
            <th data-options="field:'flow_capital'">流动股本</th>
            <th data-options="field:'trade'">所属行业</th>
            <th data-options="field:'detail_url',formatter:operator">股票详情链接</th>
        </tr>
        </thead>
    </table>

    <div id="toolbar">
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-undo" onclick="cancel();"
               plain="true">取消选择</a><a>|</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="reflesh();"
               plain="true">刷新页面</a>

        </div>

    </div>


    <script type="text/javascript">
        function operator(value, row, index) {
            return "<a href = '" + row.detail_url + "' target=\"_blank\">详情</a>"

        }


    </script>


{% endblock body %}




